<% provide(:title, "FBP Season #{@season.year}") %>
<div class="row">
   <div class="span8 offset2">
    <h3>FBP<sub>hq</sub>  <%= "#{@season.year}" %> Season</h3>
      <!--%= link_to "FOY", foy %-->

    <% if @season.weeks.any? %>
      <p>
      <ul class="weeks">
        <%= render @weeks %>
      </ul>
    <% end %>
  </div>
</div>
