<% provide(:title, "FBP Season #{@season.year}") %>
<% provide(:year, "#{@season.year}") %>
<div class="row">
   <div class="span8 offset2">
    <h3>FBP<sub>hq</sub>  <%= "#{@season.year}" %> Season</h3>
      <%= link_to "FOY", foy_season_path(@season) %>

    <% if @season.weeks.any? %>
      <p/>
      <ul class="weeks">
        <%= render @weeks %>
      </ul>
    <% end %>
  </div>
</div>
<% if @user.admin %>
  <hr>
   <div class="span8 offset2">
      <%= link_to "This Season's Players", agreements_season_path(@season), class: "btn btn-primary" %>
   </div>
<% end %>

