<% provide(:title, "FBP Season #{@season.year}") %>
<div class="row">
   <div class="span8 offset2">
    <% if @season.weeks.any? %>
      <h3>Weeks (<%= @season.weeks.count %>)</h3>
      <ul class="weeks">
        <%= render @weeks %>
      </ul>
    <% end %>
  </div>
</div>
