<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      The FBP<sub>hq</sub> is fun only and brought to you by a small team of dedicated volunteers. Please send any suggestions, comments, criticisms or questions to customer service (<a href= "mailto:customer_service@fbphq.com" >customer_service@fbphq.com</a>)
    </p>
