<% provide(:title, 'Help') %>
    <h1>Help</h1>
    <p>
      Playing fbp is simple, here are a few rules to help make things go smoothly...
 	<ol>
	    <li>Weighted point values depend on the number of games played during the week.</li>
	    <li>The numbers range from 1 to #-games.</li>
	    <li>Weighted point values must be unique, else non-unique games will receive zero points.</li>
	    <li>All entries must be selected, if not entered then that entry will receive zero points.</li>
	    <li>Tie games are assessed at 0.5 weighted point value.</li>
	    <li>Tiebreaker is best guess total points scored in Monday Night game.</li>
	    <li>Low tiebreaker beats high tiebreaker. (e.g. score = 36; 35 beats 37)</li>
	    <li>Equal tiebreakers split.</li>
	</ol>
 
