<% provide(:title, 'FBPhq Users') %>
<h1>FBP<sub>hq</sub> Users</h1>
	
    <!--%= link_to "Add New User", new_user_path, class: "btn btn-primary" %-->
	
<%= will_paginate %>

<div id="user_table">
	<table>
		<%= render @users.sort {|a,b| a.name <=> b.name} %>
	</table>
</div>

<%= will_paginate %>
