<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<div id="user_table">
	<table>
		<%= render @users.sort {|a,b| a.name <=> b.name} %>
	</table>
</div>

<%= will_paginate %>
