<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4 offset5">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      nickname: <%= @user.nickname %>
    </section>
  </aside>
</div>
